
body{
	width: 100%;
	height: auto;
	background-color: #fff;
	font-family: verdana;
	/*margin: 0;*/
	position: relative;
}

h1{text-align: center;}


#galeria{
	width: 100%;
	height: auto;
	background-color: #ccc;
}

#galeria img{
	width: 500px;
	height: auto;
	max-width: 100%;
	opacity:0.5;
	cursor: pointer;
}

#galeria img:hover{
	opacity: 1;
}

